/* CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

/* Generics */

img{
    width: 100%;
    max-height: 100%;
}

/* Container */

.container{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: flex;

}

/* Gallery */

.gallery{
    flex-basis: 80%;
    height: 100%;
}

.gallery img{
    display: none;
}

.gallery img.active{
    display: block;
}


/* Thumbnail */

.thumbnail{
    height: 100%;
    flex-basis: 30%;
    position: relative;

    display: flex;
    flex-direction: column;
}

.thumbnail i{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    z-index: 1;
    right: 50%;
}

.thumbnail .fa-circle-arrow-down{
    top: 95%;
}

.thumbnail img{
    filter: grayscale(1);
    height: 100px;
}

.thumbnail img.active{
    filter: grayscale(0);
}
